@model PagedList.IPagedList<Orca_Gamma.Models.DatabaseModels.ThreadMessagePost>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2>@ViewBag.Subject</h2>

<style>
    tr:nth-child(odd)		{ background-color: springgreen; }
    tr:nth-child(even)		{ background-color: whitesmoke; }
</style>

@using (Html.BeginForm("Details", "Forums", FormMethod.Get))
{
    <p>
        Search Thread: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="search" />
    </p>
}
<table class="table">
        
       @*@foreach (var item in Model)
       {

                <tr>
                    <td>
                        <div class="col">
                            <div class="left">
                                <h3>
                                    @ViewBag.UserName
                                </h3>
                                <p>
                                    Joined:
                                    <br />
                                    @ViewBag.DateJoined
                                </p>
                                <a>
                                    <img src="http://www.marshall.edu/CEGAS/events/mcc/images/alt_primary_logo_11.png"
                                         style="width:50px;height:50px;" />
                                </a>
                                <p>
                                    Author
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col">
                            <p class="text-left">
                                @ViewBag.Date
                            </p>
                            <br />
                            <p class="text-left">
                                @ViewBag.FirstPost
                            </p>
                        </div>
                    </td>
                    <td>
                        @Html.ActionLink("Reply", "Reply", new { id = item.Id })
                    </td>
                </tr>
           break;
       }*@

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <div class="col">
                                <div class="left">
                                    <h3>
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    </h3>
                                    <p>
                                        Joined:
                                        <br />
                                        @Html.DisplayFor(modelItem => item.User.DateJoined)
                                    </p>
                                    <a>
                                        <img src="http://www.marshall.edu/CEGAS/events/mcc/images/alt_primary_logo_11.png"
                                             style="width:50px;height:50px;" />
                                    </a>
                                    <p>
                                        Member
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col">
                                <p class="text-left">
                                    @Html.DisplayFor(modelItem => item.Date)
                                </p>
                                @*</div>
                                    </td>
                                    <td>
                                        <br />

                                        <div class="col">*@
                                <br />
                                <p class="text-left">
                                    @Html.DisplayFor(modelItem => item.Body)
                                </p>

                            </div>
                        </td>
                        <td>
                            @Html.ActionLink("Reply", "Reply", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>


    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Details",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
