@model IEnumerable<Orca_Gamma.Models.DatabaseModels.ThreadMessagePost>

@*@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@{
    ViewBag.Title = "Details";
}

<h2>ViewBag.Subject</h2>
@*<p>
    @Html.ActionLink("Reply", "Reply", new { id = ViewBag.Id})
</p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Thread.FirstPost)
        </th>
    </tr>
</table>
<table class="table">
@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
           <br />
                by @Html.DisplayFor(modelItem => item.User.UserName) on @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<br />*@
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

@*<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Thread.FirstPost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thread.FirstPost)
        </dd>
    </dl>
</div>*@

<table class="table">

    
    
        <tr>
            <td>
                
                     @ViewBag.UserName
                
                <br />
                Joined:
            </td>
            <td>
                <div class="row">
                    @*<div class="col-md-9">
                        <h3>
                        @ViewBag.Subject
                        </h3>
                    </div>*@
                    <div class="col-md-3">
                        <p class="text-right text-muted">
                            @ViewBag.Date
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        @ViewBag.FirstPost
                    </div>
                </div>
                
            </td>
        </tr>
 
    @foreach (var item in Model)
    { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
            <br />
            Joined:
        </td>
        <td>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-left text-muted">
                        @Html.DisplayFor(modelItem => item.Date)
                    </p>
                </div>
            </div>
         <td>
            <div class="row">
                 <div class="col-md-12">
                     @Html.DisplayFor(modelItem => item.Body)
                 </div>
             </div>
             
        </td>
        <td>
            @Html.ActionLink("Reply", "Reply", new { id = item.Id})
        </td>
    </tr>
    }
</table>


<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
