@model PagedList.IPagedList<Orca_Gamma.Models.ViewModels.ThreadViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Forums";
}

<h2>Expert Forums</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Forums", FormMethod.Get))
{
    <p>
        Search Topics: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Topics
            @*@Html.ActionLink("Topic", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        @*<th>
            Replies
        </th>*@
        <th>
            Last Post
        </th>
    </tr>


@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Thread.Subject, "Details", new { id = item.Thread.Id })
           <br />
                by @Html.ActionLink(item.Thread.User.UserName, "UserProfile", "Home",  new { id = item.Thread.User.Id}, null) on @Html.DisplayFor(modelItem => item.Thread.Date)
            </td>

            @*<td>
                @ViewBag.CountReplies
            </td>*@
            <td>
                by @Html.ActionLink(item.Post.User.UserName, "UserProfile", "Home", new { id = item.Post.User.Id }, null) on<br /> @Html.DisplayFor(modelItem => item.Post.Date)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <input type="checkbox" name="Close" value="@item.Thread.IsDeleted" class="checkbox-inline" />

                }

            </td>

        </tr>
    }
</table>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


