<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">
  <script src="assets/js/sorttable.js"></script>
</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>
  <div class="header-blue">
    <div class="container" style="padding:15px 15px;padding-top:30px;padding-bottom:200px;">
      <div>
        <%- include partials/breadcrumb.ejs%>
      </div>
        <div>
          <h1 style="color:#ffffff;margin-bottom:20px;">Projects</h1>
        </div>
        <div>


            <div class="card-group">

              <div class="container">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-2">
                    <div class="input-group">
                      <form action="/projects" method="post" class="d-flex align-self-center mx-auto">
                        <div class="input-group-btn search-panel">

                          <select class="form-control form-group" name="filter">

                          <option value="all">All</option>
                          <option value="archived">Archived</option>
                          <option value="notArchived">Not Archived</option>
          <% if (user.local.role == 'admin' || user.local.role == 'engineer' || user.local.role == 'finance') { %>
                          <% if (user.local.role == 'engineer') {%>
                          <option value="yourProjects">Your Projects</option>
                          <%}%>
                          <option value="email">Client Email</option>
                          <option value="engineer">Engineer Email</option>

                          <option value="completed" >Completed</option>
                          <option value="notCompleted">Not Completed</option>
                                                    <% } %>
                          </select>



                          <div class="form-group"><input class="form-control" type="text" name="parameter" placeholder="Search parameter"></div>
                          <button type="submit" class="btn btn-success">Filter</button>
                        </div>

                      </form>


                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

          <div class="card-group">
            <div class="card">
              <div class="card-header">
                <% if(user.local.role == "user") { %>
                  <h4 style="color:red;"> Please Note </h4>
                  <p> Cost estimates are just that; Estimates. Please understand that prices on actual project invoices may vary from estimate prices </p>
                  <%}%>
                    <h5 class="mb-0"></h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table sortable">
                    <thead>
                      <tr>
                        <% if(user.local.role == "admin" || user.local.role == "engineer" || user.local.role == "finance") { %>
                          <th>Project ID</th>
                          <th>Completed</th>
                          <% } %>
                            <th>Project Name</th>
                            <th>Comments</th>
                            <th>User Email</th>
                            <th>Engineer</th>
                            <th>Estimate</th>
                            <th>Date Posted </th>
                            <th>Archived</th>

                            <% if(user.local.role == "admin" || user.local.role == "engineer" || user.local.role == "finance") { %>
                              <th>Options</th>
                              <% } %>

                      </tr>
                    </thead>
                      <tbody>

                        <% for(var i=0; i<projects.length; i++) {%>
                          <% if (user.local.role == "user" && user.id == projects[i].clientID || user.local.role == "admin" || user.local.role == "engineer" || user.local.role == "finance") {%>
                            <tr>
                              <% if(user.local.role == "admin" || user.local.role == "engineer" || user.local.role == "finance") { %>
                                <td>
                                  <%= projects[i]._id %>
                                </td>
                                <td>
                                  <%= projects[i].completed %>
                                </td>
                                <%}%>

                                  <td>
                                    <%= projects[i].projectName %>
                                  </td>
                                  <td>
                                    <%if(projects[i].projectComments){%> Yes <%} else {%> No <%}%>
                                  </td>
                                  <td>
                                    <%= projects[i].email%>
                                  </td>
                                  <td>
                                    <%= projects[i].engineerEmail %>
                                  </td>
                                  <td>
                                    <%= projects[i].finalCost %>
                                  </td>

                                  <td>
                                    <%= projects[i].datePosted %>
                                  </td>
                                  <td>
                                    <%= projects[i].archived %>
                                  </td>

                                    <td> <a href='/edit/<%=projects[i]._id %>'><% if (user.local.role == 'user' || user.local.role == 'finance') { %> View <%} else {%> View/Edit <%}%></a></td>

                                      <td> <a href='/download/<%=projects[i].fileNewName%>'>Download STL</a></td>

                            </tr>
                            <% } %>
                              <%}%>
                      </tbody>
                  </table>

                </div>
                <%if (user.local.role != 'finance') {%>
                  <a href="  /quote" class="login" style="font-family:'Source Sans Pro', sans-serif;font-size:16px;"><button class="btn btn-primary" type="button" style="background-color:rgb(4,148,74);font-family:'Source Sans Pro', sans-serif;font-size:16px;">Create Project </button></a>
                  <% } %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div>
        <% include partials/footer.ejs %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
</body>

</html>
