<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>
  <div class="header-blue">
    <div class="container" style="padding:15px 15px;padding-top:60px;padding-bottom:200px;">

      <div>

        <%- include partials/breadcrumb.ejs%>
        <div>
          <h1 style="color:#ffffff;"> Lets get Started </h1>
        </div>



          <form action="/quote" enctype="multipart/form-data" method="post">
            <div>
              <h5 style="color:#ffffff;">Upload a file to start your project</h5>
              <% if (user.local.role == "user") {%>
              <p style="color:#ffffff;">The file must be in .stl format. Please keep files less than 20Mb in size</p>
              <% } else {%>
                <p style="color:#ffffff;">The file must be in .stl format. Admins and Engineers can upload files without limit to size. Please upload cautiously...</p>
                 <%}%>
              <p style="color:yellow;"><%=error%></p>
              <input style="color:#ffffff;" type="file" accept=".stl" name="myFile" required>

            </div>
            <div>
              <h5 style="color:#ffffff;">Project Name</h5>
              <p style="color:#ffffff;"> Give your Project a name: </p>
              <input type="text" name="projectName" required>
            </div>

            <div>
              <h5 style="color:#ffffff;">Density</h5>
              <p style="color:#ffffff;"> Select how dense you want you project to be printed: </p>
              <select class="form-control form-group" name="projectDensity">
                                <option value="Solid">Solid</option>
                                <option value="Sparse">Sparse</option>
                                <option value="Sparse Double Dense">Sparse Double-Dense</option>
            </select>
            </div>

            <div>
              <h5 style="color:#ffffff;">Filament Type</h5>
              <p style="color:#ffffff;"> Select what material you want you project to be printed with: </p>
              <select class="form-control form-group" name="material">
                                <% for (var i = 0; i<materials.length; i++) { %>
                                <option type="text" value='{ "id" : "<%=materials[i]._id%>", "name" : "<%=materials[i].name%>", "price": <%=materials[i].salePrice%> }'><%= materials[i].name%>: $<%=materials[i].salePrice%> per cubic centimeter</option>

                                <%}%>
           </select>
            </div>



            <div>

              <% for (var i = 0; i<materials.length; i++) { %>
                <!-- <p style="color:#ffffff;">
                  <%= materials[i].name%>:
                    <%= materials[i].description%>
                </p> -->

                <%}%>

            </div>
            <div>
              <h5 style="color:#ffffff;">Comments</h5>
              <p style="color:#ffffff;"> Please input any additional comments of concerns you have with this project: </p>
              <textarea name="projectComments" value=" " cols="40" rows="5"></textarea>
            </div>
            <% if (user.local.role == 'admin' || user.local.role == 'engineer') {%>
            <div>
              <h5 style="color:#ffffff;">Client Info: </h5>
              <p style="color:#ffffff;"> Please Clients Email: </p>
              <input type="email" name="custEmail" required>
            </div>
            <%}%>
            <div>
              <input style="background-color:rgb(4,148,74);font-family:'Source Sans Pro', sans-serif;font-size:16px;" type="submit" value="Upload">
              <p style="color:#ffffff;"> Larger files may take some time to upload. Please allow up to a minute for server responce. </p>
            </div>
          </form>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <div>
        <% include partials/footer.ejs %>
    </div>
</body>

</html>
