@model Orca_Gamma.Models.DatabaseModels.PrivateMessage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete this from your inbox?</h2>

<h3>If you delete this message, you will never see this message in your inbox again (even if it gets more replies).</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            Creator:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            Date Created:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete From Inbox" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
