@model Orca_Gamma.Models.DatabaseModels.PrivateMessage

@{
    ViewBag.Title = "Delete";
}

<h2>Clear this message from your inbox?</h2>

<h5>If you delete this message, it will temporarily be cleared from your inbox.</h5>
<h5>Don't worry! You will not miss out on any new replies (it will re-appear in your inbox).</h5>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            Creator:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            Date Created:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete From Inbox" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
