@model IEnumerable<Orca_Gamma.Models.DatabaseModels.PrivateMessagePost>

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.SubjectOfMessage</h2>

<table class="table">
    @*
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
    </tr>
    *@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Reply", "Reply", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Inbox", "Index")
</p>
