@model List<Orca_Gamma.Models.ViewModels.PMIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Private Message Inbox</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "PrivateMessagePosts", FormMethod.Get))
{
    <p>
        Search Inbox: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Subject", "Index", new { sortOrder = "subject_desc", previousFilter = ViewBag.CurrentFilter, lastSort = ViewBag.LastSort })
        </th>
        <th>
            @Html.ActionLink("Author", "Index", new { sortOrder = "creator_desc", previousFilter = ViewBag.CurrentFilter, lastSort = ViewBag.LastSort })
        </th>
        <th>
            @Html.ActionLink("Date Created", "Index", new { sortOrder = "date_desc", previousFilter = ViewBag.CurrentFilter, lastSort = ViewBag.LastSort })
        </th>
        <th>
            @Html.ActionLink("Latest", "Index", new { sortOrder = "latest_desc", previousFilter = ViewBag.CurrentFilter, lastSort = ViewBag.LastSort })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.ActionLink(item.User.UserName, "UserProfile", "Home", new { item.User.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <p>
                @Html.DisplayFor(modelItem => item.LastReplyTime) by
                @Html.ActionLink(item.LastPost, "UserProfile", "Home", new { item.Replier.Id }, null)
                </p>
            </td>
            <td>
                @Html.ActionLink("View", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
