@model Orca_Gamma.Models.DatabaseModels.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Project Lead
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@if (@ViewBag.currentID == Model.User.Id)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </p>
    <p>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </p>
    <p>
        @Html.ActionLink("Manage Collaborators", "Collab", new { id = Model.Id })
    </p>
}
