@model IEnumerable<Orca_Gamma.Models.DatabaseModels.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Projects page</h2>

<p>
    @Html.ActionLink("Create New Project", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Project Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }


<p>
<table class="table">

    <tr>
        <th>
            @Html.ActionLink("Project Lead", "Index", new { sortOrder = "project_lead"})
        </th>
        <th>
            @Html.ActionLink("Project Name", "Index", new { sortOrder = "project_name"})
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = "description"})
        </th>
        <th>
            @Html.ActionLink("Date Created", "Index", new { sortOrder = "date_created"})
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.User.FirstName, "UserProfile", "Home", new { item.User.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>

            <td>
                @Html.ActionLink("Project Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
   