@model IEnumerable<Orca_Gamma.Models.DatabaseModels.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Projects page</h2>

<p>
    @Html.ActionLink("Create New Project", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Project Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" /></p>
    
    }


<p>
<table class="table">

    <tr>
        <th>
            Project Lead
            @*@Html.DisplayNameFor(model => model.User)*@
        </th>
        <th>
           Project Name
        </th>
        <th>
            Description
        </th>
        <th>

        @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>

        <th>
            Project Info
        @*@Html.DisplayNameFor(model => model.Description)*@
        </th>

    
        @*@Html.DisplayNameFor(model => model.DateStarted)*@
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>

            <td>
                @Html.ActionLink("Edit Project", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Project Details", "Details", new { id = item.Id }) @*|
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>
   