@model Orca_Gamma.Models.ExpertInfoViewModel

@{
    ViewBag.Title = "expertInfo";
}

<h2>Expert Account Information</h2>

<p>
    Current Category: @Html.DisplayFor(model => model.Catagory.Name)

    @*Button for creating/editing expert account info
        Controller Method: editExpertAccount
        Controller Class: ManageController
         -Geoff*@
    @Html.ActionLink("Change Category", "editExpertAccount")


</p>

<p>
    @Html.ActionLink("Create New Specialty", "createKeyword")
</p>
<table class="table">
    <tr>
        <th>
            Specialty
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Keywords) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "keywordDelete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
