@model Orca_Gamma.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>

        @*this will be the new button to remove the ones beneath here
            Controller method: experInfo()
            Controller class: ManageController
            -Geoff*@
        <p>
            @Html.ActionLink("Expert Account Info", "expertInfo")
        </p>

        <p>
            @*This is where the edit account button will go
                Controller method it calls: editUserAccount
                Controller class is comes from: ManageController
                -Geoff
                *@
                @Html.ActionLink("Edit Account Information", "editUserAccount")
        </p>
        
        <p>
            @*Button for creating/editing expert account info
                Controller Method: editExpertAccount
                Controller Class: ManageController
                 -Geoff*@
                @if (Model.IsExpert) {
                    @Html.ActionLink("Edit/Create Expert Information", "editExpertAccount")
                }
        </p>
    </div>
</div>
