@model Orca_Gamma.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @ViewBag.Category
        </dd>

        <dt>
            @ViewBag.Specialty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Bio)
        </dd>

        <dt>
            Date Joined
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.DateJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>

        @*this will be the new button to remove the ones beneath here
            Controller method: experInfo()
            Controller class: ManageController
            -Geoff*@
        <p>
            @if (Model.IsExpert)
            {
                @Html.ActionLink("Expert Account Info", "expertInfo")
            }
        </p>

        <p>
            @*This is where the edit account button will go
                Controller method it calls: editUserAccount
                Controller class is comes from: ManageController
                -Geoff
                *@
                @Html.ActionLink("Edit Account Information", "editUserAccount")
        </p>
    </div>
</div>
