@model IEnumerable<Orca_Gamma.Models.DatabaseModels.Expert>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Specialist Search</h1>
</div>

<p>
    @using (Html.BeginForm())
    {
    <p><b>
        Search Options: 
        </b>
        @Html.TextBox("SearchString") <br/>
        <input type="submit" value="Filter" />
    </p>
    }

</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catagory.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory.Name)
            </td>
        </tr>
    }
</table>