@model IEnumerable<Orca_Gamma.Models.DatabaseModels.Expert>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><img src="http://i.imgur.com/EfYtM1t.png" alt="MarcosLogo" style="max-width:50%;" />
        Specialist Search</h2>
</div>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Search Options: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catagory.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName), @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory.Name)
            </td>
            <td>
                @Html.ActionLink("Profile", "UserProfile", new { id = item.User.Id })
            </td>
        </tr>
    }
</table>