@model List<Orca_Gamma.Models.ViewModels.MainIndexViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><img src="http://i.imgur.com/EfYtM1t.png" alt="MarcosLogo" style="max-width:50%;" />
        Specialist Search</h2>
</div>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Find an Expert: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
    <table class="table" style="width: 100%;" cellpadding="0" cellspacing="0">
    <colgroup width="15%" /> 
    <colgroup width="20%" /> 
    <colgroup width="20%" />
    <colgroup width="35%" />
    <colgroup width="10%" />
        <tr>
            <th>
                @Html.ActionLink("UserName", "Index", new { sortOrder = "username_desc", previousFilter = ViewBag.CurrentFilter, lastSort = ViewBag.LastSort })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = "name_desc", previousFilter = ViewBag.CurrentFilter, lastSort = ViewBag.LastSort })
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new { sortOrder = "category_desc", previousFilter = ViewBag.CurrentFilter, lastSort = ViewBag.LastSort })
            </th>
            <th>
                Specialties
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName), @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Catagory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keywords)
                </td>
                <td>
                    @Html.ActionLink("Profile", "UserProfile", new { id = item.User.Id })
                </td>
            </tr>
        }
    </table>